.reviews{
    padding-bottom: 71px;
    &__item{
        display: flex;
        margin-top: 100px;
        /* &:nth-child(2){
            margin-top: 70px;
        } */
        &_70px{
            margin-top: 70px;
        }
        img{
            width: 169px;
            height: 169px;
        }
    }
    &__text{
        margin-left: 60px;
        padding-right: 60px;
    }
    &__header{
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
    &__subheader{
        color: #646464;
        font-size: 14px;
        font-weight: 300;
    }
    &__descr{
        margin-top: 10px;
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;
        line-height: 20px;
    }
}